.sidebar-nav {
  background-color: #d3d3d3;
  left: 0;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  width: 200px; }
  .sidebar-nav h1 {
    font-family: 'Lobster', cursive; }
  .sidebar-nav li {
    text-align: center;
    padding: 20px 0; }

ul {
  list-style-type: none;
  padding: 0; }

html,
body {
  padding: 0;
  margin: 0; }

header {
  position: absolute;
  width: 500px;
  height: 250px;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -250px;
  text-align: center; }

header h1 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 100;
  margin: 0;
  padding: 0; }
