.sidebar-nav {
  background-color: #d3d3d3;
  left: 0;
  height: 100%;
  overflow-y: auto;
  position: fixed;
  width: 200px; }
  .sidebar-nav h1 {
    font-family: 'Lobster', cursive; }
  .sidebar-nav li {
    text-align: center;
    padding: 20px 0; }

ul {
  list-style-type: none;
  padding: 0; }

.preview-panel {
  right: 0;
  top: 0;
  height: 100%;
  position: fixed;
  width: 400px;
  white-space: pre-wrap;
  border-left: 1px solid #8599A7; }

.file-content {
  overflow-y: scroll;
  height: 250px;
  border: 1px solid #8599A7; }

.uninstall {
  display: none; }

.module:hover {
  background-color: #f6f6f6;
  display: inline-block; }
  .module:hover .uninstall {
    display: inline-block;
    background-color: white; }

html,
body {
  padding: 0;
  margin: 0; }

header {
  position: absolute;
  width: 500px;
  height: 250px;
  top: 50%;
  left: 50%;
  margin-top: -125px;
  margin-left: -250px;
  text-align: center; }

header h1 {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: 60px;
  font-weight: 100;
  margin: 0;
  padding: 0; }
