<div class="beforeLoggedIn login">
	<h1>Silhouette</h1>
	<div class="container">
		<form ng-submit="loginUser(user)">
		  <div class="form-group">
		    <input required type="email" class="form-control" id="exampleInputEmail1" placeholder="Email" ng-model="user.email">
		  </div>
		  <div class="form-group">
		    <input required type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" ng-model="user.password">
		  </div>
		  <button type="submit" class="btn btn-default">Submit</button>
		  <button ui-sref="signup" class="btn btn-default">Sign Up</button>
		</form>
	</div>
</div>