<div class="fileManage">
  <h1>File Manager</h1>
    <div class="fileButtons">
        <button ng-click="updateAll()" class="btn btn-default btn-md">Update All Files</button>
        <button ng-click="downloadAllFiles()" class="btn btn-default btn-md">Download and Write All Files</button>
    </div>
  <div class="form-group ">
    <h3>upload, update, preview, download, install, and track all of all your files</h3> 
    <hr>
    <div>
      <div class="uploadFile">
        <h3>Upload a File</h3>
        <input type="file" id="exampleInputFile" custom-on-change="uploadFile">
      </div>
      <hr>
      <div class="fileWrapper textSize">
        <div ng-repeat="file in files">
        	<div class="col-md-12 filebox">
            <div class="col-md-6">
          		<i class="fa fa-3x fa-file-text-o"></i>
              <p><h3>{{file.name}}</h3></p>
              <p>{{file.date | date:'medium'}}</p> 
            </div>
            <div class="col-md-6">
              <ul>  
                <li>
                  <button ng-click="updateFile(file)" class="btn btn-default btn-sm">Update
                  </button>
                </li>
                 <li>
                  <button ng-click="previewFile(file)" class="btn btn-default btn-sm">Preview
                  </button>
                </li>
                <li>
                  <button ng-click="downloadFile(file)" class="btn btn-default btn-sm">Download
                  </button>
                </li>
                <li>
                  <button ng-click="removeFile(file)" class="btn btn-default btn-sm">Stop Tracking
                  </button>
                </li>
              </ul>
          </div>
        </div>
      </div>
     </div>
      <preview-panel ng-show="showPreviewPanel" class="preview-panel col-md-4"></preview-panel>
     </div>
  </div>
  
</div>