.preview-panel {
	right: 0;
	top: 0;
	height: 100%;
	position: fixed;
	width: 400px;
	white-space: pre-wrap;
	border-left: 1px solid #8599A7;
}

.file-content {
	overflow-y: scroll;
	height: 250px;
	border: 1px solid #8599A7;
}