.accountText {
  font-size: 20px;
}

.accountSettings{
  margin-bottom: 10px;
}

.smallText{
  margin: 15px 0px 0px 30px;
  display: inline-block;
}

.push{
  margin: 25px 0px 0px 30px;
  display: inline-block;
}