.fileManage{
  margin-right: 400px;
  font-family: 'Arimo';

  .textSize{
    font-size: 15px;
  }

   .fileWrapper{
    margin-bottom: 100px;
  }

  .uploadFile{
    margin-bottom: 30px;

  }

  .fileButtons{
    display: inline-block;
    float: right;
    margin-top: 30px;
  }

  h1{
    display: inline-block;
  }

  hr{
    color: #337AB7;
    background-color: #337AB7;
    height: 5px;
    margin-bottom: 30px;
  }

  .filebox{
    margin: 10px 60px 40px 0px;
  }

}


  

