.sidebar-nav {
	background-color: #337AB7;
	left: 0;
	height: 100%;
	overflow-y: auto;
	position: fixed;
	width: 200px;
	
	i, p {
		color: #FFFFFF;
	}

	a{
		text-decoration: none;
	}
	h1 {
		font-family: 'Lobster', cursive;
		color: #FFFFFF;
	}

	li {
		text-align: center;
		padding: 10px 0;

	}
	.active { 
	  background-color: #337AB7;
	    -moz-box-shadow: inset 0 0 6px 3px rgba(42, 95, 171, 0.56);
  		-webkit-box-shadow: inset 0 0 6px 3px rgba(42, 95, 171, 0.56);
		p {
			visibility: visible;
			display: block;
			color: #FFFFFF;
		}
		i {
			color: #FFFFFF;
		}
	}

	p {
		visibility: hidden;
	}

	li:hover {
		p {
			visibility: visible;
			display: block;
		}
	}

	.magic {
		margin-top: 250px;
		//background-color: #337AB7;
		border-top: 2px solid #FFFFFF;
		p {
			visibility: visible;
			display: block;
		}
		i, p {
			color: #FFFFFF;
		}
	}
}
ul {
	list-style-type: none;
	padding: 0
}


